
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1>Bootstrap Materials</h1>
            <p>This is a Bootstrap alpha 4 starter template built with Harp, SCSS, CSS, EJS, and HTML</p>
        </div>
        <h1>Harp is in <%- environment %> mode.</h1>
        <% if(environment == "production") { %>
          <p>See? Harp is in production mode.</p>
        <% } else { %>
          <p>Okay, Harp is in development mode right now.</p>
        <% } %>
    </div>
</div>